<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人力资源管理系统</title>
</head>

<style>
  body{
    margin: 0px;
  }

  div{
    border: 0px red solid;
  }
</style>
<div style="height: 50px">
  <iframe src="/test/top" width="100%" height="100%" frameborder="0"></iframe>
</div>
<div style="height: 600px;width: 200px;float: left">
  <iframe scrolling="no" src="/test/left" width="100%" height="100%" frameborder="0"></iframe>
</div>
<div style="height: 600px;overflow: hidden">
  <iframe src="/test/centre" id="centre" width="100%" height="100%" frameborder="0"></iframe>
</div>
</html>

